binary_tree
factorial
grid
hashtable
linked_list
shuffle
sort
stack
stack_with_min
queue_mt
*.o
*.swp
*.un~
*.dSYM
.depend

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# other autotools ignores
Makefile
.deps
config.h
config.h.in
config.log
config.status
cs_fundamentals*.tar.gz
test-driver

# log output
*.trs
*.log
